In [3]:
import pandas as pd

df = pd.read_csv('C:\\Users\\Aayush\\Downloads\\nyc_weather.csv')

df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,Unnamed: 11
0,1/1/2023,38,23,52,30.03,10,8.0,0,5,NaN,281,NaN
1,1/2/2023,36,18,46,30.02,10,7.0,0,3,NaN,275,NaN
2,1/3/2023,40,21,47,29.86,10,8.0,0,1,NaN,277,NaN
3,1/4/2023,25,9,44,30.05,10,9.0,0,3,NaN,345,NaN
4,1/5/2023,20,-3,41,30.57,10,5.0,0,0,NaN,333,NaN
5,1/6/2023,33,4,35,30.50,10,4.0,0,0,NaN,259,NaN
6,1/7/2023,39,11,33,30.28,10,2.0,0,3,NaN,293,NaN
7,1/8/2023,39,29,64,30.20,10,4.0,0,8,NaN,79,NaN
8,1/9/2023,44,38,77,30.16,9,8.0,T,8,Rain,76,NaN
9,1/10/2023,50,46,71,29.59,4,NaN,1.8,7,Rain,109,NaN
10,1/11/2023,33,8,37,29.92,10,NaN,0,1,NaN,289,NaN
11,1/12/2023,35,15,53,29.85,10,6.0,T,4,NaN,235,NaN
12,1/13/2023,26,4,42,29.94,10,10.0,0,0,NaN,284,NaN
13,1/14/2023,30,12,47,29.95,10,5.0,T,7,NaN,266,NaN
14,1/15/2023,43,31,62,29.82,9,5.0,T,2,NaN,101,NaN
15,1/16/2023,47,37,70,29.52,8,7.0,0.24,7,Rain,340,NaN
16,1/17/2023,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345,NaN
17,1/18/2023,25,6,53,29.83,9,12.0,T,2,Snow,293,NaN
18,1/19/2023,22,3,42,30.03,10,11.0,0,1,NaN,293,NaN
19,1/20/2023,32,15,49,30.13,10,6.0,0,2,NaN,302,NaN
20,1/21/2023,31,11,45,30.15,10,6.0,0,1,NaN,312,NaN
21,1/22/2023,26,6,41,30.21,9,NaN,0.01,3,Snow,34,NaN
22,1/23/2023,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42,NaN
23,1/24/2023,28,11,53,29.92,8,6.0,T,3,Snow,327,NaN
24,1/25/2023,34,18,54,30.25,10,3.0,0,2,NaN,286,NaN
25,1/26/2023,43,29,56,30.03,10,7.0,0,2,NaN,244,NaN
26,1/27/2023,41,22,45,30.03,10,7.0,T,3,Rain,311,NaN
27,1/28/2023,37,20,51,29.90,10,5.0,0,1,NaN,234,NaN
28,1/29/2023,36,21,50,29.58,10,8.0,0,4,NaN,298,NaN
29,1/30/2023,34,16,46,30.01,10,7.0,0,0,NaN,257,NaN
30,1/31/2023,46,28,52,29.90,10,5.0,0,0,NaN,241,NaN

In [4]:
# maximum temperature
df['Temperature'].max()

50

In [5]:
# minimum temperature
df['Temperature'].min()

20

In [8]:
# Average wind spped
df['WindSpeedMPH'].mean()

6.892857142857143

In [9]:
df['EST'][df['Events']=='Rain']

8      1/9/2023
9     1/10/2023
15    1/16/2023
26    1/27/2023
Name: EST, dtype: object

In [10]:
df.fillna(0, inplace = True)
df['WindSpeedMPH'].mean()

6.225806451612903

In [12]:
import pandas as pd

mydataset = {
    "Cars":["BMW","Tesla","Ford"],
    "Passing":[2,3,5]
}

myvalue = pd.DataFrame(mydataset)
print(myvalue)

    Cars  Passing
0    BMW        2
1  Tesla        3
2   Ford        5

In [14]:
import pandas as pd

print(pd.__version__)

2.0.3

# Pandas Series

In [16]:
# Create a simple pandas series from a list
import pandas as pd

a=[1,3,4,5,6]
myvar=pd.Series(a)
print(myvar)

0    1
1    3
2    4
3    5
4    6
dtype: int64

In [17]:
#label
print(myvar[2])

4

In [20]:
import pandas as pd

a= [1,2,3]
myvar = pd.Series(a,index=["x","y","z"])

print(myvar)

x    1
y    2
z    3
dtype: int64

In [21]:
print(myvar["y"])

2

In [22]:
import pandas as pd

calories = {
    "day 1": 420,
    "day 2": 390,
    "day 3": 500
}

myval= pd.Series(calories)
print(myval)

day 1    420
day 2    390
day 3    500
dtype: int64

In [24]:
import pandas as pd

calories = {
    "day 1": 420,
    "day 2": 390,
    "day 3": 500
}

myval= pd.Series(calories, index = ["day 1","day 2"])
print(myval)

day 1    420
day 2    390
dtype: int64

In [25]:
# DataFrame
import pandas as pd
mydata = {
    "calories":[420,450,300],
    "day": ["day1","day2","day3"]
}
myval = pd.DataFrame(mydata)
print(myval)

   calories   day
0       420  day1
1       450  day2
2       300  day3